<template name="post">
  <div class="bumper">
    <div class="container question-wrapper">
        <div class="row question">
            <div class="col-md-12">
                <div class="row title">
                  <input type="hidden" name="questionId" value="{{_id}}">
                    <h1>{{title}}</h1>
                    <div class="tags-question pull-right">
                        <span class="label label-info">{{tags}}</span>
                    </div>
                </div>
                <div class="row question-block">
                    <div class="col-md-1">
                      <div class="row voteArrows">
                        <i class="fa fa-caret-up fa-3x" id="questionUpVoteArrow"></i>
                        <br>
                        <span class="commentRep" style="margin-left: 7px; font-size: 20px;">{{questionReputation}}</span>
                        <i class="fa fa-caret-down fa-3x" id="questionDownVoteArrow"></i>
                      </div>
                    </div>
                    <div class="col-md-1 questionAvatar">
                        {{#if askerAvatarURL}}
                            <img class="img-rounded" style="height:60px; margin-top: 30px;" src="{{askerAvatarURL}}" data-toggle="popover-content" data-placement="left"/>
                        {{else}}
                            <i class="fa fa-user fa-4x" style="height:45px; margin-top: 20px;" data-toggle="popover-content" data-placement="left"></i>
                        {{/if}}
                        <div id="popover-content" class="hide">
                        {{> userCard}}
                        </div>
                    </div>
                    <div class="col-md-10 question-body container-fluid">
                        <div class="row question-top">
                            <div class="username pull-left">
                                <a href="">{{username}}</a>
                            </div>
                            <div class="question-info pull-right">
                                {{questionDate}}
                            </div>
                        </div>
                        <div class="row question-text" id="questionTextSection">
                          {{{questionTextHtml}}}
                        </div>
                          {{#if isCurrentUserAsker}}
                        <form class="editQuestionSection" id="editQuestionSection" action="" style="display:none;">
                          <div class="wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea class="wmd-input" value="{{fetchQuestionText}}" id="wmd-input" name="editText"></textarea>
                          </div>
                          <div id="wmd-preview" class="wmd-panel wmd-preview">
                          </div>
                          <input type="submit" value="Save" class="btn btn-default inner-button"
                                 style="font-size: 1em;"/>
                          </form>
                          {{/if}}
                      </div>
                    </div>
                <div class="row question-footer">
                  <div class="pull-right">
                    <a class="btn btn-default inner-button" id="answerQuestion" data-scroll href="#userComment">Respond</a>
                  </div>
                  {{#if isCurrentUserAsker}}
                  <div class="pull-left">
                  <a class="btn btn-default inner-button" id="editQuestion">Edit</a>
                  </div>
                  {{/if}}
                </div>
            </div>
        </div>
        <br>
        {{#each bestAnswer}}
        <div class="row individual-comment bestAnswer">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <div class="row voteArrows">
                  <i class="fa fa-caret-up fa-3x" id="upVoteArrow"></i>
                  <br>
                  <span class="commentRep" style="margin-left: 7px; font-size: 20px;">{{commentReputation}}</span>
                  <i class="fa fa-caret-down fa-3x" id="downVoteArrow"></i>
                </div>
              </div>
              <div class="col-md-1 questionAvatar">
                {{#if commenterAvatarURL}}
                    <img class="img-rounded" style="height:60px; margin-top: 30px;" src="{{commenterAvatarURL}}" data-toggle="popover-content" data-placement="left"/>
                    <div id="popover-content" class="hide">
                    {{> userCard}}
                    </div>
                {{else}}
                    <i class="fa fa-user fa-2x" data-toggle="popover-content" data-placement="left"></i>
                    <div id="popover-content" class="hide">
                    {{> userCard}}
                    </div>
                {{/if}}
              </div>
              <div class="col-md-10 container-fluid">
                  <div class="row comment-top">
                      <div class="username pull-left">
                          <a href="">{{user.username}}</a>
                      </div>
                      <div class="pull-right">
                          {{commentDate}}
                      </div>
                  </div>
                  <div class="row comment-text" id="commentText-{{commentId}}">{{{commentTextHtml}}}</div>
                  {{#if isCurrentUserPoster}}
              <div id="editCommentDiv-{{commentId}}" style="display:none;">
                <form class="editCommentSection" id="editCommentSection" action="">
                  <div class="wmd-panel">
                    <div id="wmd-button-bar-{{commentId}}"></div>
                    <textarea class="wmd-input" value="{{fetchCommentText}}" id="wmd-input-{{commentId}}" name="editText"></textarea>
                  </div>
                  <div id="wmd-preview-{{commentId}}" class="wmd-panel wmd-preview">
                  </div>
                  <input type="submit" value="Save" class="btn btn-default inner-button"
                         style="font-size: 1em;"/>
                  </form>
                </div>
                  {{/if}}
                </div>
                {{#if isCurrentUserPoster}}
                <div class="pull-left" id="editButton-{{commentId}}">
                <a class="btn btn-default inner-button" id="editComment">Edit</a>
                </div>
                {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
        <br>
        <div class="row userComment" id="userComment" style="display: none;">
          <div class="col-md-12">
            <div class="row add-reply">
                <form class="form new-comment" id="new-comment" action="" required>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <div class="wmd-panel">
                                <div id="wmd-button-bar-answer"></div>
                                <textarea class="wmd-input" id="wmd-input-answer" name="commentText"></textarea>
                              </div>
                              <div id="wmd-preview-answer" class="wmd-panel wmd-preview">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group commentSubmit">
                        <input type="submit" value="Add Comment" class="btn btn-default inner-button"
                               style="font-size: 1em;"/>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <br>
        {{#each questionComments}}
        <br>
        <div class="row commentSection">
          <div class="col-md-12">
            <div class="row">
              <input type="hidden" name="commentId" value="{{commentId}}">
                <div class="col-md-1">
                  <div class="row voteArrows">
                    <i class="fa fa-caret-up fa-3x" id="upVoteArrow"></i>
                    <br>
                    <span class="commentRep" style="margin-left: 7px; font-size: 20px;">{{commentReputation}}</span>
                    <i class="fa fa-caret-down fa-3x" id="downVoteArrow"></i>
                  </div>
                </div>
              <div class="col-md-1 questionAvatar">
                {{#if commenterAvatarURL}}
                    <img class="img-rounded" style="height:60px; margin-top: 30px;" src="{{commenterAvatarURL}}" data-toggle="popover-content" data-placement="left"/>
                    <div id="popover-content" class="hide">
                    {{> userCard}}
                    </div>
                {{else}}
                    <i class="fa fa-user fa-2x" data-toggle="popover-content" data-placement="left"></i>
                    <div id="popover-content" class="hide">
                    {{> userCard}}
                    </div>
                {{/if}}
              </div>
              <div class="col-md-10 container-fluid">
                <div class="row comment-top">
                  <div class="username pull-left">
                    <a href="">{{user.username}}</a>
                  </div>
                  <div class="pull-right">
                    {{commentDate}}
                  </div>
                </div>
                <div class="row comment-text" id="commentText-{{commentId}}">{{{commentTextHtml}}}</div>
                {{#if isCurrentUserPoster}}
            <div id="editCommentDiv-{{commentId}}" style="display:none;">
              <form class="editCommentSection" id="editCommentSection" action="">
                <div class="wmd-panel">
                  <div id="wmd-button-bar-{{commentId}}"></div>
                  <textarea class="wmd-input" value="{{fetchCommentText}}" id="wmd-input-{{commentId}}" name="editText"></textarea>
                </div>
                <div id="wmd-preview-{{commentId}}" class="wmd-panel wmd-preview">
                </div>
                <input type="submit" value="Save" class="btn btn-default inner-button"
                       style="font-size: 1em;"/>
                </form>
              </div>
                {{/if}}
              </div>
              {{#if isCurrentUserPoster}}
              <div class="pull-left" id="editButton-{{commentId}}">
              <a class="btn btn-default inner-button" id="editComment">Edit</a>
              </div>
              {{/if}}
            </div>
            {{#if isCurrentUserAsker}}
              <div class="pull-right">
                <!-- <button type="button" id="chooseBestAnswer" class="btn btn-primary">Choose Best Answer</button> -->
                <button class="btn btn-default inner-button" id="chooseBestAnswer">Correct Answer</button>
              </div>
            {{/if}}
            </div>
          </div>
        {{/each}}
    </div>
  </div>
</template>
