<template name="post">
  <div class="bumper">
    <div class="container question-wrapper">
        <div class="row question">
            <div class="col-md-12">
                <div class="title">
                  <input type="hidden" name="questionId" value="{{_id}}">
                    <h1>{{title}}</h1>
                    <div class="tags-question pull-right">
                        <span class="label label-info">{{tags}}</span>
                    </div>
                </div>
                <div class="row question-block">
                    <div class="col-md-1">
                        {{#if askerAvatarURL}}
                            <img class="img-rounded" style="height:45px; margin-top: 20px;" src="{{askerAvatarURL}}"/>
                        {{else}}
                            <i class="fa fa-user fa-4x" style="height:45px; margin-top: 20px;"></i>
                        {{/if}}
                    </div>
                    <div class="col-md-11 question-body container-fluid">
                        <div class="row question-top">
                            <div class="username pull-left">
                                <a href="">{{username}}</a>
                            </div>
                            <div class="question-info pull-right">
                                {{questionDate}}
                            </div>
                        </div>
                        <div class="row question-text">
                          <!-- <div id="wmd-preview" class="wmd-panel wmd-preview">
                              {{{questionText}}}
                          </div> -->
                        </div>
                        {{{questionText}}}
                    </div>
                </div>
                {{#each bestAnswer}}
                <hr>
                <div class="row individual-comment bestAnswer">
                  <!-- <input type="hidden" name="commentId" value="{{commentId}}"> -->
                    <div class="col-md-1">
                      <div class="voteArrows">
                        <i class="fa fa-arrow-up" id="upVoteArrow"></i>
                        <i class="fa fa-arrow-down" id="downVoteArrow"></i>
                      </div>
                    </div>
                    <div class="col-md-1">
                      {{#if commenterAvatarURL}}
                          <img class="img-rounded" style="height:45px; margin-top: -1px;" src="{{commenterAvatarURL}}"/>
                      {{else}}
                          <i class="fa fa-user fa-2x"></i>
                      {{/if}}
                    </div>
                    <div class="col-md-10 container-fluid">
                        <div class="row comment-top">
                            <div class="username pull-left">
                                <a href="">{{user.username}}</a>
                            </div>
                            <div class="pull-right">
                                {{commentDate}}
                            </div>
                        </div>
                        <div class="row comment-text">{{commentText}}</div>
                    </div>
                </div>
                {{/each}}
                {{#each questionComments}}
                    <hr>
                    <div class="row individual-comment">
                      <input type="hidden" name="commentId" value="{{commentId}}">
                        <div class="col-md-1">
                          <div class="voteArrows">
                            <i class="fa fa-arrow-up" id="upVoteArrow"></i>
                            <i class="fa fa-arrow-down" id="downVoteArrow"></i>
                          </div>
                        </div>
                        <div class="col-md-1">
                          {{#if commenterAvatarURL}}
                              <img class="img-rounded" style="height:44px; margin-top: -1px;" src="{{commenterAvatarURL}}"/>
                          {{else}}
                              <i class="fa fa-user fa-4x"></i>
                          {{/if}}
                        </div>
                        <div class="col-md-10 container-fluid">
                            <div class="row comment-top">
                                <div class="username pull-left">
                                    <a href="">{{user.username}}</a>
                                </div>
                                <div class="pull-right">
                                    {{commentDate}}
                                </div>
                            </div>
                            <div class="row comment-text">{{commentText}}</div>
                        </div>
                    </div>
                    {{#if isCurrentUserAsker}}
                      <div class="pull-left">
                        <button type="button" id="chooseBestAnswer" class="btn btn-primary">Choose Best Answer</button>
                      </div>
                    {{/if}}
                {{/each}}
                <div class="row add-reply">
                    <form class="form new-comment" id="new-comment" action="" required>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                  <div class="wmd-panel">
                                    <div id="wmd-button-bar"></div>
                                    <textarea class="wmd-input" id="wmd-input" name="commentText"></textarea>
                                  </div>
                                  <div id="wmd-preview" class="wmd-panel wmd-preview">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group commentSubmit">
                            <input type="submit" value="Add Comment" class="btn btn-primary btn-lg btn-block"
                                   style="font-size: 1em;"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
