<template name="splashScreen">
    <div class="jumbotron">
        <div class="container">
            <h1>Get your questions answered!</h1>
            <!-- <p>Or help others</p> -->
        </div>
    </div>
    <div class="how">
        <div class="container">
            <div class="row title">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>How It Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <i class="fa fa-pencil fa-5x"></i>
                    <h3>Ask A Question</h3>
                    <p>Having trouble with a programming problem? Can't see to find the answer through Google or Stackoverflow?
                    Ask a question on Compiler, and it'll be answered by a fellow student!</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <i class="fa fa-code fa-5x"></i>
                    <h3>Get An Answer</h3>
                    <p>Once you get an answer, mark it as correct so that other students can use it later on.</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <i class="fa fa-users fa-5x"></i>
                    <h3>Form Partnerships</h3>
                    <p>Compiler seeks not only to help you with your questions, but create partnerships for learning.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="find">
        <div class="container">
            <div class="row title">
                <div class="col-sm-12 col-md-12">
                    <h2>Find A Tutor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="center">If you need an answer quickly, click "Find An Expert" and you'll be paired with an expert who can help you out!</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="current">
        <div class="row title">
            <div class="col-sm-12 col-md-12">
                <h2>Here are a few questions students are asking</h2>

            </div>
        </div>
    </div>
</template>
