<template name="splashScreen">
    <div class="jumbotron">
        <div class="container">
            <h1>Share your idea!</h1>
            <!-- <p>Or help others</p> -->
        </div>
    </div>
    <div class="how">
        <div class="container">
            <div class="row title">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>How It Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <i class="fa fa-pencil fa-5x"></i>
                    <h3>Post an Idea</h3>
                    <p>Have an idea for the company? Post it here to let others within the company find it! 
                       Ideas could be anything; something to improve your everyday, something to help a client, 
                        or even something to completely change the company! Post your idea and see where it goes!</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <i class="fa fa-code fa-5x"></i>
                    <h3>Vote for Ideas</h3>
                    <p>Find an idea you like? Vote on it! This is your opportunity to say where you think things should be heading!
                        Ideas can come from anywhere and everyone has a voice to decide what's next! When you see an idea, 
                        you can either upvote it or downvote it.
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <i class="fa fa-users fa-5x"></i>

                    <h3>Form Partnerships</h3>
                    <p>Wanting to connect with others who have similar ideas? By using comments and other site engagement features 
                        you can find others to help promote ideas and collaboration across departments and disciplines. Cross-
                        functional teams are a great way to come up with inovative ideas while expanding the creativity of 
                        individuals and growing our corporate ecosystem.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="find">
        <div class="container">
            <div class="row title">
                <div class="col-sm-12 col-md-12">
                    <h2>Find an Expert</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p>Find an Expert is a tool that helps you connect with someone who may have more experience with something you 
                        might not fully understand. This simple feature helps you to connect with an 'expert' and start communication.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="current">
        <div class="row title">
            <div class="col-sm-12 col-md-12">
                <h2>Here are a few ideas others are proposing</h2>

            </div>
        </div>
    </div>
</template>
