<template name="splashScreen">
  <div class="jumbotron">
    <div class="container">
      <h1>Get your questions answered!</h1>
      <!-- <p>Or help others</p> -->
    </div>
  </div>
  <div class="how">
    <div class="container">
      <div class="row title">
        <div class="col-sm-12 col-md-12">
          <h1>How It Works</h1>
        </div>
      </div>
        <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-pencil fa-5x"></i>
          <h2>Ask A Question</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
            Vivamus elementum nec justo nec dapibus.</p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-code fa-5x"></i>
          <h2>Get An Answer</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
            Vivamus elementum nec justo nec dapibus.</p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
          <h2>Form Partnerships</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
            Vivamus elementum nec justo nec dapibus.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="find">
    <div class="container">
      <div class="row title">
        <div class="col-sm-12 col-md-12">
          <h1>Find A Tutor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
          Vivamus elementum nec justo nec dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
            Vivamus elementum nec justo nec dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
              Vivamus elementum nec justo nec dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra ultricies aliquet.
                Vivamus elementum nec justo nec dapibus.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="current">
    <div class="row title">
      <div class="col-sm-12 col-md-12">
        <h1>Questions Currently Open</h1>
      </div>
    </div>
  </div>
</template>
