
.idea/.name

.idea/compiler.iml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/meteor_packages_auto_import_browser.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
