body {
  padding-top: 70px;
  text-align: center;
}
.fa-search {
  color: white;
}
.navbar {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 19px;
  color: #333;
}
.navbar-right {
  font-size: 22px;
  padding-right: 14px;
}
.navbar-buttons {
  padding: 6px 10px;
  font-size: 14px;
}
.jumbotron {
  max-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
  height: 500px;
  text-align: center;
}
.jumbotron h1 {
  font-size: 48px;
  font-weight: bold;
}
.title {
  padding-bottom: 20px;
}
.how {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.how h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.how p {
  text-align: justify;
}
.find {
  padding-top: 70px;
  padding-bottom: 70px;
}
.find p {
  text-align: justify;
}
.circle {
  background-color: #EEEEEE;
  color: #FFFFFF;
  border-radius: 100px;
  display: inline-block;
  margin: 0 17px;
  padding: 15px;
}
#github {
  background-color: #403A3A;
}
#github:hover {
  background-color: #4D4D4d;
  color: white;
}
#google {
  background-color: #F74933;
}
#google:hover {
  background-color: #FF7566;
  color: white;
}
.center {
  text-align: center;
  padding-top: 20px;
}
.login-buttons {
  padding-top: 20px;
  padding-bottom: 40px;
}
.or {
  padding-bottom: 40px;
}
#register-form .form-control{
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}
#login-form .form-control{
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}
