@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body {
    padding-top: 70px;
    text-align: center;
    font-family: "Open Sans", "Roboto", sans-serif;
    font-weight: 300;
    background: #f1f2f7;
}
.navbar-right .fa-2x {
    color: white;
}
.navbar {
    padding-top: 10px;
    line-height: 19px;
}
#navbar {
    background-color: #008251;
    border: none;
}
.navbar-brand {
    height: 75px !important;
    font-size: 20px;
    color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover {
  color: #009E62;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #009E62;
}
.navbar-buttons {
    padding: 6px 10px;
    font-size: 14px;
}
.navbar-right .p {
    padding-top: 10px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6180em;
}

.navbar-brand {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 15px;
}

.navbar-left {
    margin-top: 13px;
    margin-bottom: 13px;
}

.navbar-right {
    margin-right: 15px;
}

.loggedout {
    margin-top: 13px;
    margin-bottom: 13px;
}

.jumbotron {
    max-height: 100%;
    background-image: url("images/jumbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top: 140px;
    text-shadow: black 0.01em 0.01em 0.01em;
}

.title {
}

.how {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.how h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.how p {
    text-align: justify;
}

.find {
    padding-top: 70px;
    padding-bottom: 70px;
}

.find p {
    text-align: justify;
}

.circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}
.smallCicle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

#github {
    background-color: #403A3A;
}

#github:hover {
    background-color: #4D4D4d;
    color: white;
}

#google {
    background-color: #F74933;
}

#google:hover {
    background-color: #FF7566;
    color: white;
}
#email {
  background-color: #f39c12;
}
#email:hover {
  background-color: #e67e22;
  color: white;
}

.center {
    text-align: center;
    padding-top: 20px;
}

.login-buttons {
    padding-top: 20px;
    padding-bottom: 40px;
}

.or {
    padding-bottom: 40px;
}

#register-form .form-control {
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

#login-form .form-control {
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

.controls {
    padding-top: 20px;
}

#new-question .form-control {
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

#new-question {
    padding-top: 40px;
}

.submit {
    padding-top: 20px;
}

.typeahead,
.ttquery,
.tt-dropdown-menu {
    width: 422px;
    margin-top: 3px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.goToQuestion {
    color: #ccc;
}

.question {
    padding: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    background: white;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.question .title {
    text-align: center;
}

.question-body {
    text-align: left;
}

.username {
    font-weight: 700;
}

.question-body .question-info {
    color: #999;
    font-size: 14px;
}

.question-header {
    text-align: left;
    color: #999;
    font-weight: 200;
    font-size: 14px;
}

.question-body .question-text {
    font-weight: 400;
}

.question-cell {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.question-title {
    font-weight: 400;
    font-size: 17px;
    margin-top: 12px;
}
.question-top {
    padding-bottom: 20px;
    padding-top: 25px;
}
.question-block {
    padding-bottom: 60px;
}
table tr {
    height: 60px;
    margin-top: 14px;
}

.bumper {
    padding-top: 40px;
}
.comment-top {
    padding-bottom: 20px;
    padding-top: 25px;
}
.comment-text{
    padding-bottom: 40px;
    word-wrap: break-word;
    text-align: left;
}


/***Text Area Styles***/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #006740;
    top: -2.25rem;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
}

.styled-input {
    float: left;
    width: 33.3333%;
    margin: 2rem 0 1rem;
    position: relative;
}

.styled-input label {
    color: #006740;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 100%;
}

input,
textarea {
    padding: 1rem 1rem;
    border: 0;
    width: 100%;
    background-color: #ECECEC;
}

input ~ span,
textarea ~ span {
    display: block;
    width: 0;
    height: 3px;
    background: #006740;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.commentSubmit {
    float: right;
}

span.commentRep {
    line-height: 2;
    font-size: 1.4em;
    margin-left: 3px;
}

.commentButton {
    font-size: 1em;
}

.voteArrows{
  float:left;
  width:1px;
      margin-right: 15px;
}

/*CSS for autoComplete */
.typeahead,
.tt-query,
.tt-hint {
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #00CC7F;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 3px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    background-color: #008251;
    cursor:pointer;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #00CC7F;
}

.tt-suggestion p {
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.twitter-typeahead {
  margin-bottom: 10px;
}
.tags {
    text-align: left;
}
li.userPickedTags {
    list-style: none;
    background: #009E62;
    width: 100px;
    color: white;
    padding: 4px;
    margin: 3px;
}
.tagRemove{
    color: #383737;
    top:2px;
    cursor:pointer;
}
.tags-question {
    padding-top: 10px;
    padding-bottom: 30px;
}
.table-title {
    padding-top: 10px;
}
.table-title a:hover {
  text-decoration: none;
}
#title-text {
  color: #2A3132;
}
#title-text:hover {
  color: #009E62;
}
.mtbox {
    margin-top : 40px;
}
.box p {
    padding-top: 20px;
    font-weight: 500;
}
.box {
    background: white;
    text-align: center;
    padding: 20px;
    height: 200px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.active-box {
    background: #009E62;
    color: white !important;
    text-align: center;
    padding: 20px;
    height: 200px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
a:hover .box{
  text-decoration: none;
  background: #009E62;
  color: white;
}
a:hover {
  text-decoration: none;
}
a .box {
  text-decoration: none;
  color: black;
}
.dashnum {
    font-weight: 800;
}
#tags {
    margin-top: 40px;
}
.tagCard {
    background: white;
    text-align: left;
    padding: 20px;
    height: 200px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.tagTitle {
    font-weight: 800;
}
.tagDescription {
    padding: 5px;
}
.question-table {
  background: white;
  text-align: left;
  padding: 20px;
  height: 200px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.question-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.new-question-form {
  background: white;
  text-align: left;
  height: 100%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.question-help {
  background-color: white;
  height: 100%;
  text-align: left;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.question-help h3 {
  text-align: center;
}
.inner-button {
  border-color: #008251;
}
.inner-button:hover {
  background: #009E62;
  color: white;
}
.question-wrapper {
  padding-top: 40px;
}
.wmd-preview {
  padding: 10px;
}
.wmd-button-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tagBlock {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*best answer*/
.bestAnswer {
  border: 2px solid #42bd41;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.box #active {
  background-color: #009E62;
}
.voteArrows {
  padding-left: 30px;
}
.questionAvatar {
  padding-left: 0px;
}
.fa-caret-up {
  color: #E0E0E0;
}
.fa-caret-up:hover {
  color: #42bd41;
}
.upvoteClicked {
  color: #42bd41;
}
.fa-caret-down {
  color: #E0E0E0;
}
.fa-caret-down:hover {
  color: #e84e40;
}
.downvoteClicked {
  color: #e84e40;
}
.fa-caret-up{
  cursor: pointer;
}
.fa-caret-down{
  cursor: pointer;
}
.commentSection {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  background: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.userComment {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  background: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.tableTag {
  padding-top: 10px;
}
.avatarSection {
  padding-top: 20px;
  padding-bottom: 100px;
}

.cardCircle {
  background-color: #EEEEEE;
  color: #FFFFFF;
  border-radius: 100px;
  display: inline-block;
  margin: 0 1px;
  padding: 15px;
}
.popCard {
  padding-top: 30px;
}
.edit {
  padding-top: 30px;
  padding-bottom: 20px;

}
.profileImg {
  padding-top: 40px;
}
