<template name="newQuestion">
    <h3 class="text-center">Submit a new question</h3>
    <div class="row">
        <div class="error">
            <span class="sr-only">Error:</span>
        </div>
    </div>
    <form class="form new-question" id="new-question" action="" required>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Question Title" name="title" id="" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" name="questionText" placeholder="Question Text..." required></textarea>
        </div>
        <div class=tags>
        <input 
       class="form-control input-lg typeahead" name="tags" id="tag" type="text"
       placeholder="Categories"
       autocomplete="off" spellcheck="off"
       data-source="tags"/> <button type="button" id="addTag" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Tag</button>
       </div>
        {{> userPickedTags}}
        <div class="form-group submit">
            <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"/>
        </div>
    </form>
</template>

<template name="userPickedTags">
    {{#each tempPickedTags}}
      <li class="userPickedTags">{{this}}</li>
    {{/each}}
</template>