<template name="newQuestion">
	   <div class="modal-content">
       <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h3 class="text-center">Submit a new question</h3>
         <div class="row">
           <div class="error">
             <span class="sr-only">Error:</span>
           </div>
         </div>
         <form class="form center-block new-question" id="new-question" action="" required>
           <div class="form-group">
             <input type="text" class="form-control input-lg" placeholder="Question Title" name="title" id="" required>
           </div>
           <div class="form-group">
            <textarea class="form-control" rows="3" name="questionText" placeholder="Question Text..." required></textarea>
           </div>
           <div class="form-group">
             <input class="form-control input-lg" name="tags" type="text" placeholder="Categories" required="You must select at least one category!" autocomplete="off" spellcheck="off" data-source="tags" />
           </div>
           <div class="form-group submit">
             <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"/>
           </div>
         </form>
       </div>
   </div>
</template>