<template name="questionUser">
  <div class="username">
    <!-- {{#if userAvatar}}
      <img class="img-rounded userProfile" style="height:45px; margin-top: -1px;" src="{{userAvatar}}" data-toggle="popover-content" data-placement="right"/>
    {{else}}
      <i class="fa fa-user fa-1x"></i>
    {{/if}} -->
    {{#with profile}}
      <img class="img-rounded userProfile" style="height:45px; margin-top: -1px;" src="{{userAvatar}}" data-html="true" data-toggle="popover" data-placement="right" data-trigger="hover" data-content='<div class="container-fluid">
          <div class="row center-block">
            <div class="avatarSection">
              <div class="col-md-12">
                <img class="img-rounded userProfile center-block" style="height:100px; width:100px; margin-top: -1px;" src="{{userAvatar}}">
              </div>
            </div>
          </div>
        <div class="row">
          <div class="info">
            <div class="title center">
              <h4>{{username}}</h4>
            </div>
          </div>
        </div>
        <div class="row center">
          {{#if both}}
            <div class="col-md-6">
              <a class="btn btn-email btn-sm cardCircle" id="email" href="{{emailAccount}}" target="_blank">
                <i class="fa fa-envelope-o fa-fw fa-lg"></i>
              </a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-github btn-sm cardCircle" id="github" href="{{githubAccount}}" target="_blank">
                <i class="fa fa-github fa-fw fa-lg"></i>
              </a>
            </div>
          {{else}}
            {{#if emailAccount}}
            <div class="col-md-12">
              <a class="btn btn-email btn-sm cardCircle" id="email" href="{{emailAccount}}" target="_blank">
                <i class="fa fa-envelope-o fa-fw fa-lg"></i>
              </a>
            </div>
            {{else}}
            <div class="col-md-12">
              <a class="btn btn-github btn-sm cardCircle" id="github" href="{{githubAccount}}" target="_blank">
                <i class="fa fa-github fa-fw fa-lg"></i>
              </a>
            </div>
            {{/if}}
          {{/if}}
        </div>
      </div>'/>
    {{/with}}
    <div id="popover" class="hide">
    <!-- {{> userCard}} -->
    {{username}}
    </div>
  </div>
</template>
