<template name="userDashboard">
    <div class="wrapper bumper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mtbox">
                        <div class="col-md-3">
                          <a>
                            <div class="box active-box" id="total-questions">
                                <div class="row"><span class="fa fa-newspaper-o fa-4x"></span></div>
                                <span class="dashnum"><h3>{{totalQuestions}}</h3></span>
                                <p>Total Ideas Open</p>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-3">
                          <a>
                            <div class="box" id="user-questions">
                                <div class="row"><span class="fa fa-inbox fa-4x"></span></div>
                                <span class="dashnum"><h3>{{userQuestions}}</h3></span>
                                <p>Your Ideas Open</p>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-3">
                          <a>
                            <div class="box" id="hot">
                                <div class="row"><span class="fa fa-fire fa-4x"></span></div>
                                <span class="dashnum"><h3>{{userQuestions}}</h3></span>
                                <p>Hottest Ideas</p>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-3">
                          <a>
                            <div class="box" id="new">
                                <div class="row"><span class="fa fa-bolt fa-4x"></span></div>
                                <span class="dashnum"><h3>{{userQuestions}}</h3></span>
                                <p>Newest Ideas</p>
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{> openQuestions}}
              </div>
            </div>
        </div>
    </div>
</template>
<template name="openQuestions">
    <div class="controls">
        <div class="btn-group pull-right">
            <a class="btn btn-default inner-button" id="newQuestionBtn" href="{{pathFor route='newquestion'}}">New Question</a>
        </div>
    </div>
    <div class="question-container">
      {{> reactiveTable collection=questions settings=settings}}
      <br>
      <br>
    </div>
</template>
<template name="tagCard">
    <div class="col-md-4" id="tags">
        <div class="tagCard">
            <div class="tagTitle">{{name}}</div>
            <div class="tagDescription">{{description}}</div>
        </div>
    </div>
</template>
