<template name="findAnExpert">
  <div class="modal-content">
      <div class="modal-body">
        <div class="bumper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 question">
                <div class="row title">
                  <h1>{{questionReputation}}</h1>
                </div>
                <div class="row edit">
                  <div class="col-md-4 profileImg">
                    <img class="img-circle center-block" style="height:200px; width:200px; margin-top: -1px;" src="{{expertUserAvatar}}">
                    <!-- <br>
                    <p class="help-block">
                      Change your profile picture
                    </p>
                    <input type="file" class="form-control"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
  </div>
</template>
