<template name="login">
   <div class="modal-content">
       <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h3 class="text-left">Login with</h3>
         <div class="row login-buttons">
           <div class="col-sm-2 col-sm-offset-3 col-md-3 col-md-offset-3">
             <a class="circle" id="github">
               <i class="fa fa-github fa-fw fa-lg"></i>
             </a>
           </div>
           <div class="col-sm-2 col-md-3">
             <a class="circle" id="google">
               <i class="fa fa-google fa-fw fa-lg"></i>
             </a>
           </div>
         </div>
         <div class="row">
           <div class="or"><h3>or</h3></div>
         </div>
         <div class="row">
           <div class="error">
             <span class="sr-only">Error:</span>
           </div>
         </div>
         <form class="form center-block" id="login-form" action="action">
           <div class="form-group">
             <input type="text" class="form-control input-lg" placeholder="Username" id="login-username">
           </div>
           <div class="form-group">
             <input type="password" class="form-control input-lg" placeholder="Password" id="login-password">
           </div>
           <div class="form-group">
             <!-- <button class="btn btn-primary btn-lg btn-block">Sign In</button> -->
             <input type="submit" id="login-button" value="Sign in" class="btn btn-primary btn-lg btn-block"/>
           </div>
         </form>
       </div>
       <div class="modal-footer">
           <div class="col-md-12">
             <div class="text-center"><a href="#">Need to make an account?</a></div>
           </div>
       </div>
   </div>
</template>
